.products {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.products .title-2 {
  text-align: center;
}

.products-cards {
  display: flex;
  gap: 30px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.products-card-wrapper {
  align-items: center;
  display: flex;
  gap: 20px;
}

.product-arrow {
  width: 50px;
  z-index: 2;
}

.hide {
  visibility: hidden;
}

.mirror {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}