.economy-form-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-bottom: 180px;
  width: 100%;
}

.economy-form-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.economy-form-wrapper {
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 100px;
  width: 100%;
}

.economy-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 635px;
  width: 100%;
}

.economy-form-fielset {
  display: flex;
  border: none;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.economy-form-field {
  background-color: var(--color-grey-3);
  border-bottom: 3px solid transparent;
  padding: 10px 20px;
  height: 41px;
}

.economy-form-field:hover,
.economy-form-field:active {
  border-bottom: 3px solid var(--color-primary-1);
}

.economy-form-field::placeholder {
  color: var(--color-grey-2);
}

.economy-form-field-checkbox-wrapper {
  align-items: center;
  display: flex;
  gap: 10px;
}

.economy-form-field-checkbox {
  background-color: var(--color-grey-3);
  border: 1px solid var(--color-grey-2);
  border-radius: 4px;
  outline: none;
  width: 15px;
}

.economy-form-field-checkbox:checked {
  background-color: var(--color-primary-1);
  color: white;
}

.economy-form-fielset-checkbox {
  flex-direction: row;
  justify-content: space-between;
}

.economy-card {
  background-color: white;
  box-shadow: 4px 4px 20px var(--color-grey-low-opacity-3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 40px;
  max-width: 474px;
  width: 100%;
}

.economy-result {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--color-grey-2);
  gap: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.economy-result-value {
  font-size: 40px;
  font-weight: bold;
}

.economy-metrics {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0;
}

.economy-metric-item {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 470px) {
  .economy-form-fielset-checkbox, .economy-metric-item {
    flex-direction: column;
  }
}